* {
    padding:0;
    margin:0;
    list-style: none;
    text-decoration: none;
}

html {
    background-color: black;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: yellowgreen;
    height:100px;
    width:100%;
}

.header_container {
    display: table;
    height: 100%;
    width:80%;
    margin:0 auto;
}

.header_container h1 {
    font-weight: 200;
}

.header_container h1 span {
    font-weight: 800;
}

nav {
    float:right;
    height:100%;
}

nav ul {
    height:100%;
}

nav a {
    height:100%;
    display:table;
    float:left;
    padding: 0px 20px;
}

nav a:last-child {
    padding-right: 0;
}

nav a li{
    display: table-cell;
    vertical-align: middle;
    height:100%;
    cursor:pointer;
}

nav a:hover {
    background-color: aliceblue;
    color:greenyellow;
}

header h1 {
    text-align: center;
    height:100%;
    display: table-cell;
    vertical-align: middle;
}


